---
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
import Linkedin from "../components/icon/Linkedin.astro";
import SocialPill from "../components/SocialPill.astro";
import Githubicon from "../components/icon/Githubicon.astro";
import Mail from "../components/icon/Mail.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Suitcase from "../components/icon/Suitcase.astro";
import CodeIcon from "../components/icon/CodeIcon.astro";
import UserIcon from "../components/icon/UserIcon.astro";
import AboutMe from "../components/AboutMe.astro";
import Contact2 from "../components/Contact2.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Portafolio Cesar Ospino - desarrollador y Programador web">
  <main>
    <SectionContainer id="top" class="py-40 pb-0">
      <img
        class="rounded-full w-[70px] h-[70px] border border-3 border-[#64ffda] mb-5"
        src="https://i.ibb.co/tp1jFS3/image.png"
        alt="CesarDev"
      />

      <div class="max-w-[800px] mx-auto">
        <div class="flex flex-col lg:flex-row lg:items-center">
          <h1
            class="text-white text-2xl md:text-4xl lg:text-5xl font-bold flex items-center justify-center lg:justify-start flex-row gap-x-2 pb-2 lg:pb-0"
          >
            Hola, soy <span class="text-[#64ffda] font-bold">CesarDev</span>
          </h1>
          <a
            href="https://www.linkedin.com/in/cesar-arturo-ospino-agamez/"
            class="text-[#64ffda] text-sm lg:text-base flex items-center justify-center lg:justify-start"
          >
            <Badge>Disponible para trabajar</Badge>
          </a>
        </div>
        <h2 class="text-xl lg:text-2xl opacity-80">
          Un apasionado desarrollador frontend de Colombia 🟨🟦🟥. Me especializo en la
          creación de experiencias de usuario excepcionales al fusionar diseño y
          funcionalidad.
        </h2>
      </div>

      <nav class="flex gap-4 mt-4 flex-wrap">
        <SocialPill
          href="https://www.linkedin.com/in/cesar-arturo-ospino-agamez-302586170/"
        >
          <Linkedin class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>

        <SocialPill href="https://github.com/cesar097">
          <Githubicon class="size-4 md:size-6" />
          Github
        </SocialPill>

        <SocialPill href="mailto:cospino097@mail.com">
          <Mail class="size-4 md:size-6" />
          cospino097@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2
        class="text-4xl font-semibold mb-10 flex gap-x-2 items-center text-[#64ffda]"
      >
        <Suitcase class="size-8 text-[#64ffda]" />
        Experiencia laboral
      </h2>
      <Experience></Experience>
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2
        class="text-4xl font-semibold mb-10 flex gap-x-2 items-center text-[#64ffda]"
      >
        <CodeIcon />
        Proyectos
      </h2>
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-8"
      >
        <Projects></Projects>
      </div>
    </SectionContainer>

    <SectionContainer id="sobre-mi" class="lg:w-[800px] w-full">
      <h2
        class="text-4xl font-semibold mb-10 flex gap-x-2 items-center text-[#64ffda]"
      >
        <UserIcon class="size-8 text-[#64ffda]" />
        Sobre mi
      </h2>

      <AboutMe />
    </SectionContainer>

    <SectionContainer id="contacto">
      <h2
        class="text-4xl font-semibold mb-10 flex gap-x-2 items-center text-[#64ffda]"
      >
        <Mail class="text-[#64ffda]" />
        Contactame
      </h2>
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-8"
      >
        <Contact2 />
      </div>
    </SectionContainer>
  </main>
</Layout>
