---
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
import Linkedin from "../components/icon/Linkedin.astro";
import SocialPill from "../components/SocialPill.astro";
import Githubicon from "../components/icon/Githubicon.astro";
import Mail from "../components/icon/Mail.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Suitcase from "../components/icon/Suitcase.astro";
import CodeIcon from "../components/icon/CodeIcon.astro";
import Projects from "../components/Projects.astro";
import UserIcon from "../components/icon/UserIcon.astro";
import AboutMe from "../components/AboutMe.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Portafolio Cesar Ospino - desarrollador y Programador web">
  <main>
    <SectionContainer id="top" class="py-40 pb-0">
      <img
        class="rounded-full w-[70px] h-[70px] border border-3 border-[#64ffda] mb-5"
        src="https://i.ibb.co/tp1jFS3/image.png"
        alt="CesarDev"
      />

      <div class="flex">
        <h1
          class="text-white text-2xl md:text-4xl lg:text-5xl font-bold flex items-center justify-center flex-row gap-x-4 pb-6 lg:pb-6"
        >
          Hola, soy <span class="text-[#64ffda] font-bold">Cesar Opsino</span>
          <a
            href="https://www.linkedin.com/in/cesar-arturo-ospino-agamez-302586170/"
            ><Badge>Disponible para trabajar</Badge></a
          >
        </h1>
      </div>
      <h2 class="text-xl lg:text-2xl opacity-80 max-w-[700px]">
        Un apasionado desarrollador frontend de colombia. Me especializo en la
        creación de experiencias de usuario excepcionales al fusionar diseño y
        funcionalidad. Mi enfoque se centra en ofrecer soluciones innovadoras y
        atractivas para interfaces web.
      </h2>

      <nav class="flex gap-4 mt-4 flex-wrap">
        <SocialPill
          href="https://www.linkedin.com/in/cesar-arturo-ospino-agamez-302586170/"
        >
          <Linkedin class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>

        <SocialPill href="https://github.com/cesar097">
          <Githubicon class="size-4 md:size-6" />
          Github
        </SocialPill>

        <SocialPill href="mailto:cospino097@mail.com">
          <Mail class="size-4 md:size-6" />
          cospino097@gmail.com
        </SocialPill>

      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2
        class="text-4xl font-semibold mb-10 flex gap-x-2 items-center text-[#64ffda]"
      >
        <Suitcase class="size-8 text-[#64ffda]" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2
        class="text-4xl font-semibold mb-10 flex gap-x-2 items-center text-[#64ffda]"
      >
        <CodeIcon />
        Proyectos
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-8"
      >
        <Projects />
      </div>
    </SectionContainer>

    
    <SectionContainer id="sobre-mi" class="lg:w-[800px] w-full">
      <h2
        class="text-4xl font-semibold mb-10 flex gap-x-2 items-center text-[#64ffda]"
      >
        <UserIcon class="size-8 text-[#64ffda]" />
        Sobre mi
      </h2>

      <AboutMe/>
    </SectionContainer>

    <SectionContainer id="contacto">
      <h2
        class="text-4xl font-semibold mb-10 flex gap-x-2 items-center text-[#64ffda]"
      >
        <Mail class="text-[#64ffda]" />
        Contactame
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-8"
      >
        <Contact />
      </div>
    </SectionContainer>
  </main>
</Layout>
