
<astro-card class="flex items-center justify-center p-4 max-w-[400px] mx-auto my-auto">
  <div class="flex flex-col items-center text-center">
    <h2 class="text-3xl font-bold mb-6">¿Necesitas ponerte en contacto?</h2>
    <p class="text-lg mb-4 text-pretty p-6 opacity-80">
      Si tienes alguna pregunta o comentario, no dudes en ponerte en contacto conmigo.
    </p>
    <a href="mailto:tucorreo@gmail.com" class="boton botonw2">
      Enviar Correo
    </a>
  </div>
</astro-card>
