---

---

<section id="contacto" class="bg-transparent p-8">
  <div class="flex items-center flex-col ml-[350px] max-w-3xl mx-auto">
    <h2 class="text-3xl font-bold mb-6">Informacion</h2>
    
    <div class="flex items-center gap-8">
     
        <ul class="list-none pl-4 w-full">
          <li>
           
            <span>cospino097.com</span>
          </li>
          <li >
           
            <span>(+57) 312 708 3678</span>
          </li>
          <li>            
            <span>Lorica, Cordoba, Colombia</span>
          </li>
        </ul>
      </div>

      <!-- Formulario de contacto -->
    
    </div>
  </div>
</section>