---
import ExperienceItem from "./ExperienceItem.astro"

export const EXPERINECE = [
  {
    date: "january 2024",
    title: "portafolio CesarDev",
    description:
      "creado principalmente con Astro, Tailwind y JavaScript. Explora mi trabajo y descubre cómo estas herramientas transforman la experiencia web.",
    link: "https://github.com/cesar097/portafolio",
  },


];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
  {
    EXPERINECE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
