---
import ExperienceItem from "./ExperienceItem.astro";

export const EXPERINECE = [
  {
    date: "january",
    title: "portafolio CesarDev",
    description: "mi portafio como desarrollador frontEnd",
    link: "#",
  },

  {
    date: "February",
    title: "Aplication UI code whith Tailwind CSS",
    description:
      "get acces to over 20* pages including a dashboard layout, charts, kanban board, calendar, and pro-order E-comerce & marketing pages",
    link: "#",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">

    {
        EXPERINECE.map(experience => (
        <li class="mb-10 ms-4">
            <ExperienceItem {...experience} />
        </li>
        ))
    }

    
 
</ol>
