<header class="flex items-center justify-center py-3 w-full xg:w-[1120px]">


  <nav class="text-white flex flex-row gap-x-10 text-xl">
    <a
      href="#top"
      class="hover:text-[#64ffda] text-white relative  hover:translate-y-[-2px] transition-all duration-300">
      <span class="text-[#64ffda]">01.</span>Inicio
    </a>

    <a 
    href="#experiencia"
    class="hover:text-[#64ffda] text-white relative  hover:translate-y-[-2px] transition-all duration-300">
    <span class="text-[#64ffda]">02.</span>Experiencia</a>

    <a 
    href="#proyectos"
    class="hover:text-[#64ffda] text-white relative  hover:translate-y-[-2px] transition-all duration-300">
    <span class="text-[#64ffda]">03.</span>Proyectos
    </a>
    
    <a 
    href="#sobre-mi"
    class="hover:text-[#64ffda] text-white relative  hover:translate-y-[-2px] transition-all duration-300">
    <span class="text-[#64ffda]">04.</span>Sobre mi
    </a>

    <a 
    href="#contacto"
    class="hover:text-[#64ffda] text-white relative  hover:translate-y-[-2px] transition-all duration-300">
    <span class="text-[#64ffda]">05.</span>Contacto</a>
  </nav>
</header>
