---
import LiContainer from "./LiContainer.astro";
---

<div class="w-full">
  <nav class="bg-[#0a192f] h-20 w-full items-center justify-between">
    <input type="checkbox" id="check" hidden />
    <label
      for="check"
      class="float-right text-white text-3xl leading-[80px] mr-10 lg:hidden"
    >
      <i class="fas fa-bars"></i>
    </label>
   

    <ul
      class="float-right mr-10 lg:flex leading-[80px] md:leading-[80px] space-x-4
      text-white uppercase rounded fixed lg:relative h-[100vh] lg:h-0 w-[100%] lg:w-fit top-20 lg:top-0
       left-[-100%] lg:left-0 pt-8 transition-all duration-300 lg:transition-none text-center bg-[black]"
    >
      <LiContainer><a href="#top"><span class="text-[#64ffda]">01.</span>Inicio</a></LiContainer>
      <LiContainer><a href="#experiencia"><span class="text-[#64ffda]">02.</span>Experiencia</a></LiContainer>
      <LiContainer><a href="#proyectos"><span class="text-[#64ffda]">03.</span>Proyectos</a></LiContainer>
      <LiContainer><a href="#sobre-mi"><span class="text-[#64ffda]">04.</span>Sobre mi</a></LiContainer>
      <LiContainer><a href="#contacto"><span class="text-[#64ffda]">05.</span>Contacto</a></LiContainer>
    </ul>
  </nav>
</div>
