---
const {class: className, id} = Astro.props
---

<section id={id} class=`w-full lg:w-[740px] mx-auto py-[50px] flex flex-col item-center align-center animate-fade-up ${className}`>
    <slot/>
</section>